.admin-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: #ff6600; /* Orange background */
    z-index: 99;
}

.adminheader-title-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
}

#adminheader-icon {
    margin-top: 20px;
    padding-left: 10px;
    height: 50px;
    color: #fff; /* White icon color */
}

#adminheader-title {
    margin: 3px 10px 10px 10px;
    padding-top: 20px;
    height: 70px;
    width: 120px;
    font-size: 35px;
    color: #fff; /* White text color */
}

.admin-yatra {
    background-image: linear-gradient(90deg, rgba(255,102,0,1) 20%, rgba(255,140,0,1) 40%, rgba(255,165,0,1) 60%, rgba(255,179,71,1) 80%, rgba(255,193,83,1) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.admin-tech {
    color: #ff6600; /* Orange text color */
}

.admin-header-nav {
    position: fixed;
    top: 130px;
    left: 10px;
    padding: 1.7rem 1.9rem 0;
    width: 90px;
    background-color: #333; /* Dark Gray background */
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    border-radius: 20px;
    z-index: 100;
    transition: .4s;
    overflow: hidden;
}

.admin-header-nav:hover {
    width: 220px;
}

.admin-header-nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-width: none;
}

.admin-header-nav-container::-webkit-scrollbar {
    display: none;
}

.admin-header-nav-list,
.admin-header-nav-items {
    display: grid;
}

.admin-header-nav-list {
    row-gap: 2.5rem;
}

.admin-header-nav-items {
    row-gap: 1.7rem;
}

.admin-header-nav-link {
    display: flex;
    align-items: center;
    color: #f0f0f0; /* Light Gray text */
    gap: 5px;
}

.admin-header-nav-link:hover {
    color: #fff; /* White text on hover */
}

.admin-header-nav-icon {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #ff6600; /* Orange icon color */
}

.admin-header-nav-name {
    font-size: .75rem;
    font-weight: 500;
    white-space: nowrap;
}

.admin-header-nav-logout {
    margin-top: 5rem;
    margin-left: -19px;
    background-color: transparent;
    outline: none;
}

.admin-header-nav-logout:hover {
    outline: none;
    border-color: transparent;
    color: #ff4500; /* Darker Orange color on hover */
}
